html {
                text-align: center;
                margin: 0;
                padding: 0;
            }
            body {
                background-color: #FFFFFF;
                text-align: center;
            }
            form {
                margin-block-end: 1em;
            }
            img {
                width: 351px;
                height: 113px;
                aspect-ratio: auto 351 / 113;
                overflow-clip-margin: content-box;
                overflow: clip;
                margin-bottom: -5px;
            }
            table {
                margin: auto;
                border-spacing: 0;
                width: 70%;
                border-collapse: separate;
                text-indent: initial;
                line-height: normal;
                font-weight: normal;
                font-size: medium;
                font-style: normal;
                color: inherit;
                text-align: center;
                border-color: #EEEEEE;
                white-space: normal;
                font-variant: normal;
            }
            tr {
                display: table-row;
                vertical-align: inherit;
                unicode-bidi: isolate;
                border-color: inherit;
            }
            .t1 {
                background-color: #EEEEEE;
                padding-top: 6px;
                padding-bottom: 6px;
            }
            .t2 {
                margin-bottom: -12px;
            }
            .t3 {
                background-color: #EEEEEE;
                padding-top: 6px;
                padding-bottom: 6px;
            }
            h2 {
                margin-top: 3px;
            }
            #archive {
                font-size: 13px;
            }
            .space {
                margin-top: -1px;
                margin-bottom: 10px;
            }
            #copyright {
                font-size: small;
                margin-top: -17px;
            }
